In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
pa = pd.read_excel('C:/Users/shinn/Desktop/case study/Analyst_Case_Study.xlsx',sheet_name = 'Data', index_col=None, header=0)

In [3]:
def fix_columns(column_list):
    new_cols =[]
    for col in column_list:
        col = col.lower()
        new_cols.append(col)
    
    return new_cols

In [4]:
pa.columns = fix_columns(pa.columns)

In [5]:
pa

,date,line,major line,state,work order,sales,employeeid,employee,position
0,2022-07-12,Tire Services,Tire Services,PA,83391,70,20023379,Ryan Howard,MS1
1,2022-07-13,Batteries,Batteries,PA,83612,338,20023379,Ryan Howard,MS1
2,2022-07-13,Oil,Oil,PA,83518,126,20023379,Ryan Howard,MS1
3,2022-07-15,Oil,Oil,PA,84591,126,20023379,Ryan Howard,MS1
4,2022-07-15,Oil,Oil,PA,85020,82,20023379,Ryan Howard,MS1
...,...,...,...,...,...,...,...,...,...
4389,2022-11-22,Oil,Oil,PA,125655,94,20013466,Creed Bratton,Apprentice
4390,2022-11-22,Tire Services,Tire Services,PA,125655,17,20013466,Creed Bratton,Apprentice
4391,2022-11-23,Oil,Oil,PA,125979,95,20013466,Creed Bratton,Apprentice
4392,2022-11-28,Batteries,Batteries,PA,126783,258,20013466,Creed Bratton,Apprentice
4393,2022-11-28,Misc Parts,Parts,PA,126783,295,20013466,Creed Bratton,Apprentice

In [6]:
pa.dtypes

date          datetime64[ns]
line                  object
major line            object
state                 object
work order             int64
sales                  int64
employeeid             int64
employee              object
position              object
dtype: object

# Find which emloyee worked the most orders

In [7]:
pa['employee'].unique()

array(['Ryan Howard', 'Andy Bernard', 'Roy Anderson', 'Kelly Kapoor',
       'Kevin Malone', 'Charles Minor', 'Michael Scott', 'Angela Martin',
       'Erin Hannon', 'Darryl Philbin', 'Karen Filippelli', 'Jim Halpert',
       'Jan Levinson', 'Meredith Palmer', 'Oscar Martinez',
       'Stanley Hudson', 'Creed Bratton'], dtype=object)

In [8]:
worked = pa.groupby('employee')['work order'].nunique()
worked.sort_values(ascending = [False])
#graph1

employee
Michael Scott       296
Stanley Hudson      293
Jan Levinson        272
Andy Bernard        254
Jim Halpert         242
Kevin Malone        213
Angela Martin       187
Erin Hannon         102
Meredith Palmer      85
Ryan Howard          85
Karen Filippelli     81
Oscar Martinez       77
Roy Anderson         64
Darryl Philbin       61
Kelly Kapoor         55
Creed Bratton        37
Charles Minor        32
Name: work order, dtype: int64

In [9]:
##这些最低的员工是不是跟最高的员工做的一样的事？ 为啥他们做的order这么低？？
low3 = pa[(pa['employee'] == 'Kelly Kapoor') | (pa['employee'] == 'Creed Bratton') | (pa['employee'] == 'Charles Minor')]
low3.groupby('employee')['date'].nunique()

employee
Charles Minor    16
Creed Bratton    21
Kelly Kapoor     24
Name: date, dtype: int64

In [10]:
# the dates showed up to work

showed = pa.groupby('employee')['date'].nunique()
showed.sort_values(ascending = [False])

employee
Stanley Hudson      101
Jan Levinson         92
Michael Scott        88
Andy Bernard         83
Kevin Malone         77
Jim Halpert          75
Angela Martin        70
Erin Hannon          38
Ryan Howard          35
Oscar Martinez       31
Darryl Philbin       29
Karen Filippelli     28
Meredith Palmer      26
Kelly Kapoor         24
Roy Anderson         23
Creed Bratton        21
Charles Minor        16
Name: date, dtype: int64

# Find emloyee worked order values by sum

In [11]:
sales = pa.groupby('employee')['sales'].sum()
sales.sort_values(ascending = [False])
#graph2

employee
Stanley Hudson      98298
Jim Halpert         70653
Michael Scott       67755
Jan Levinson        56352
Andy Bernard        51016
Kevin Malone        49512
Angela Martin       35152
Karen Filippelli    21097
Meredith Palmer     18477
Oscar Martinez      17825
Erin Hannon         14051
Kelly Kapoor        13876
Ryan Howard         13030
Darryl Philbin      11670
Roy Anderson        10962
Creed Bratton        6074
Charles Minor        5774
Name: sales, dtype: int64

# Find the most value employee by using sames/orders

In [12]:
best_sales_emoplyee = sales/worked
best_sales_emoplyee.sort_values(ascending = [False]).round(2)
#Michael Scott worked the most orders but doesn't have the most valuable sales
#Stanley Hudson is the winner!

employee
Stanley Hudson      335.49
Jim Halpert         291.95
Karen Filippelli    260.46
Kelly Kapoor        252.29
Kevin Malone        232.45
Oscar Martinez      231.49
Michael Scott       228.90
Meredith Palmer     217.38
Jan Levinson        207.18
Andy Bernard        200.85
Darryl Philbin      191.31
Angela Martin       187.98
Charles Minor       180.44
Roy Anderson        171.28
Creed Bratton       164.16
Ryan Howard         153.29
Erin Hannon         137.75
dtype: float64

In [13]:
#What kind of orders that top3 did it by using 'major line'
top3 = pa[(pa['employee'] == 'Stanley Hudson') | (pa['employee'] == 'Jim Halpert') | (pa['employee'] == 'Karen Filippelli')]
top3['major line'].value_counts()

Tire Services    399
Tires            332
Oil              254
Parts            132
Batteries         55
Inspections       54
Misc Service      44
Brakes            33
Name: major line, dtype: int64

In [14]:
low3 = pa[(pa['employee'] == 'Ryan Howard') | (pa['employee'] == 'Creed Bratton') | (pa['employee'] == 'Erin Hannon')]
low3['major line'].value_counts()

Oil              189
Batteries         61
Tire Services     43
Parts             23
Brakes            10
Inspections        8
Misc Service       8
Tires              2
Name: major line, dtype: int64

In [15]:
line_sales = pa.groupby('line')['sales'].sum()
line_sales.sort_values(ascending = [False])

line
House Brand      211877
Batteries         81755
Oil               81535
Tire Services     64967
Brakes            49720
Off Brand         44689
Filters            8498
Inspections        4944
Misc Parts         4184
Generic            4083
Wipers             3448
Oil Filters        1351
Misc Services       523
Name: sales, dtype: int64

In [16]:
(211877-44689)/44689 
#House brand sales is 4 times than off brand

3.7411443531965363

In [17]:
# house brand tires needs more services than off brand? 
ts =pa.loc[pa['line'] == 'Tire Services']
ts['line'].unique()
# not real, no different record as house or off.

array(['Tire Services'], dtype=object)

In [18]:
## house brand tires needs more services than off brand? 
#house_off = pa[(pa['line'] == 'House Brand') | (pa['line'] == 'Off Brand')]
#house_off
#this code meanless

# the tries sales is the reason of gap between #1 and #2

In [19]:
sh = pa[(pa['employee'] == 'Stanley Hudson')]
sh.groupby('major line')['sales'].sum()

major line
Batteries         7109
Brakes            4768
Inspections        138
Misc Service       299
Oil               3908
Parts              396
Tire Services    10236
Tires            71444
Name: sales, dtype: int64

In [20]:
jh = pa[(pa['employee'] == 'Jim Halpert')]
jh.groupby('major line')['sales'].sum()

major line
Batteries         3361
Brakes            6362
Inspections       2330
Misc Service       936
Oil               7557
Parts             4214
Tire Services     8270
Tires            37623
Name: sales, dtype: int64